* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-color {
    background-color: rgba(33, 57, 96, 0.8);
}

h2, p {
    color: white !important;
}

form {
    color: white;
}

form label {
    margin-bottom: 5px;
    font-size: 18px;
}

form input, form button {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
}

form button {
    background-color: rgb(239, 147, 55);
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

input {
    accent-color: rgb(239, 147, 55);
    background-color: white;
    outline: none;
}

form button:hover {
    background-color: rgb(218, 148, 78);
}

a {
    color: rgb(30, 34, 39) !important;
}

.error {
    color: rgb(26, 26, 26);
    font-size: 14px;
}